@model MVCEFMidTerm.Models.Student
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>You're viewing @Model.FirstName's Details</h2>
<h4>Name:@Model.FirstName @Model.LastName</h4>
<p>Course Name:@Model.Course.CourseName</p>
<p>Date of Birth:@Model.Birthdate.Value.ToShortDateString()</p>
<p>Enrollment Date:@Model.CourseEnrolledDate.Value.ToShortDateString()</p>
<p>Course Status:@Model.CourseStatus</p>
<p>Grade:@Model.Grade</p>
@*@Html.ActionLink("Back", "List", null, new { id = Model.Id }, new { @class = "btn btn-primary" })*@
@*@Html.ActionLink("Edit|", "Edit", "Students", new { id = Model.Id }, null)
    @Html.ActionLink("Delete", "Delete", "Students", new { id = Model.Id }, null)*@
@Html.ActionLink("Back", "List", null, new { id = Model.Id }, new { @class = "btn btn-primary" })
@Html.ActionLink("Edit", "Edit", null, new { id = Model.Id }, new { @class = "btn btn-primary" })
@Html.ActionLink("Delete", "Delete", null, new { id = Model.Id }, new { @class = "btn btn-primary" })





