@model IEnumerable<MVCEFMidTerm.Models.Student>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Students List</h2>
<p>@Html.ActionLink("Create New", "Create", "Students", null, new { @class = "btn btn-primary" })</p>


<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date Of Birth</th>
            <th>Course Name</th>
            <th>Date Of Joining</th>
            <th>Status</th>
            <th>Grade</th>
            <th>Actions...</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
        <tr>
            <td>@student.FirstName</td>
            <td>@student.LastName</td>
            <td>@student.Birthdate.Value.ToShortDateString()</td>
            <td>@student.Course.CourseName</td>
            <td>@student.CourseEnrolledDate.Value.ToShortDateString()</td>

            @if (student.CourseStatus == 1)
            {
                <td class="progress progress-striped active">
                    <div class="progress-bar progress-bar-info" style="width: 100%">Progress</div>

                </td>
}
            
            else {
            <td class="progress progress-striped ">
                <div class="progress-bar progress-bar-success" style="width: 100%">Completed</div>
            </td> }

            <td>@student.Grade</td>
            <td>
                @Html.ActionLink("Details|", "Details", "Students", new { id = student.Id }, null)
                @Html.ActionLink("Edit|", "Edit", "Students", new { id = student.Id }, null)
                @Html.ActionLink("Delete", "Delete", "Students", new { id = student.Id }, null)
            </td>
        </tr>
        }
    </tbody>
</table>






